#app-description-container {
    padding: 0 100px;
}

.description-text {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
}

li {
    font-family: sans-serif;
    margin-top: 5px;
}